html {
  font-family: sans-serif, Arial, Helvetica, sans-serif, Tahoma, sans-serif;
}

header {

  background-color: #f6f6f6;

}

nav {
  max-width: 960px;
  margin: auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

}

li {
  padding: 5px;

}

main {
  width: 960px;
  margin: auto;

}

p {
  height: 300px;
  overflow: auto;
}

main ul {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;

}

section {
  display: flex;
  justify-content: space-between;
}

section img {
  width: 480px;
}

article {
  padding: 0 30px;
}

h2 {
  font-size: 24px;
  padding-bottom: 15px;
}

p {
  /* width: 50%; */
  height: 450px;
  overflow-y: scroll;
  scrollbar-color: black #808080;
  scrollbar-width: thick;
  font-size: 1rem;
  line-height: 1.5;
}

button {
  margin-top: 15px;
  padding: 10px 35px;
  background-color: black;
  color: white;
  font-size: 1rem;
}

button:hover {
  transition-delay: 350ms;
  background-color: green;
  color: black;
}

footer {
  display: flex;
  margin-top: 30px;
  width: 100%;
  background-color: #444;

}

footer img {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px 0;
}